Source: pdk
Section: dev
Priority: optional
Maintainer: Darrin Thompson <darrint@progeny.com>
Build-Depends: cdbs, python2.3-dev
Standards-Version: 3.6.1

Package: pdk
Architecture: any
Suggests: python2.3-pylint, openssl, subversion, curl, apache2, libapache2-svn, python-librpm4.4, rpm-4.4
Depends: ${shlibs:Depends}, python2.3, python-gnupginterface, python2.3-xml, python2.3-pycurl, smartpm, python-apt, python2.3-celementtree, git-core
Description: Componentized Linux Platform Development Kit (PDK)
 Simply put, Componentized Linux is a platform for building
 specialized Linux distributions. Componentized Linux provides
 developers with a set of reusable building blocks, called
 components, which can be easily assembled into a wide variety
 of configurations and customized as necessary. It combines
 this componentized platform with a set of technologies
 (covering installation, software management, and hardware detection,
 with more on the way) that span traditional distribution boundaries
 and transform the assembled components into a complete distribution.
 .
 This package contains the Componentized Linux Platform Development
 Kit (PDK). Essentially, you can think of the PDK as "version
 control for distributions"--it's intended to be a full suite of
 tools for building and maintaining a CL-based distribution,
 from assembling a full distro from a set of pre-built components
 to managing the evolution of the distro over time to incorporate
 upstream changes to building your own custom components to
 specifying global configuration like branding to integrating
 distro-specific patches and managing the changes over time.
 .
 Homepage: http://componentizedlinux.org/

