#!/usr/bin/make -f

# $Progeny$

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

clean::
	rm -f atest.tar

install/pdk::
	python makeman.py >pdk.1
	sh run_atest -d
	tar c --exclude=atest/packages --exclude=.svn atest \
		run_atest utest.py doc/*.fw >atest.tar

# vim:set ai noet sw=8 ts=8 tw=75:
