Source: cl-tools
Section: base
Priority: optional
Maintainer: Ian Murdock <imurdock@progeny.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: cl-tools
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-rhpl
Description: Componentized Linux end-user tools
 This package contains tools for end users of Componentized Linux
 and Componentized Linux-based distributions.

Package: cl-tools-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, cl-tools (>= 1.4), python, python-rhpl
Conflicts: debootstrap-script-cl, cl-tools (<= 1.3.1)
Provides: debootstrap-script-cl
Replaces: debootstrap-script-cl, cl-tools (<= 1.3.1)
Description: Componentized Linux development tools
 This package contains tools for developers of Componentized Linux
 and Componentized Linux-based distributions.
